 body {background-image: url(../images/white-colored-seamless-linen-texture-fabric-background-natural-white-colored-seamless-linen-texture-fabric-background-147199747.jpg); 
  
 }
.logo {text-align: center;} 
    a.facility {color:black;}
    h2 {text-align: center;}
    .class1 {float: left;
    width: 600px;}
    .class2 {float: left; width: 400px;}
    .class3 {float: left; width: 333px;}
    .topnav {
        background-color: #333;
        overflow: hidden;
      }
      
      
      .topnav a {
        float: left;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        width: 330px;
      }
      
      
      .topnav a:hover {
        background-color:white;
        color: black;
      }
      .address,.class1,.class2,.class3,#address {background-color: black; color: white;
      margin: 0em; padding: 0em;}
  
      
      
      .topnav a.active {
        background-color: grey;
        color: white;
      }


      
p {text-align: center;}

.judo {text-align: center;}
.location {text-align: center;}
p {text-align: center;}
.formp {color: gray;}
.form{
  background-color: black; 
  color: azure;
}
* {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
      .submitbtn {background-color: #4CAF50 ;
      width: 100%;}
      